body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background-size: cover;
    background-position: center;
}

.container_table1 {
    position: fixed;
    width: 95%; 
    max-width: 1800px; 
    height: 90%;
    max-height: 85vh;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 4%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
                5px 5px 20px rgba(0, 0, 0, 0.2),
                10px 10px 25px rgba(0, 0, 0, 0.1);
}

.table-container {
    overflow-y: auto; 
    max-height: 400px; 
}

.table-container::-webkit-scrollbar {
    width: 12px; 
}

.table-container::-webkit-scrollbar-track {
    background: #333; 
}

.table-container::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #777; 
}

.table-container {
    scrollbar-width: thin; 
    scrollbar-color: #555 #333; 
}

.table-container {
    -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.header {
    text-align: center;
    padding: 10px;
    color: white;
}

.table-container {
    height: calc(80vh - 100px); 
    max-height: 600px; 
    overflow-y: auto; 
    margin-top: 10px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 2px solid #333;
    margin-bottom: 0; 
}

thead th {
    background-color: #222;
    color: #eee;
    position: sticky;
    top: 0;
    z-index: 2;
    word-wrap: break-word; 
    white-space: normal;
}

th, td {
    padding: 10px; 
    border: 2px solid #444;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    color: #ddd;
    font-size: 0.9em; 
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

th:nth-child(1), td:nth-child(1) { width: 30px; }
th:nth-child(2), td:nth-child(2) { width: 70px; }
th:nth-child(3), td:nth-child(3) { width: 180px; }
th:nth-child(4), td:nth-child(4) { width: 180px; }
th:nth-child(5), td:nth-child(5) { width: 110px; }
th:nth-child(6), td:nth-child(6) { width: 100px; }
th:nth-child(7), td:nth-child(7) { width: 100px; }
th:nth-child(8), td:nth-child(8) { width: 100px; }
th:nth-child(9), td:nth-child(9) { width: 96px; }
th:nth-child(10), td:nth-child(10) { width: 70px; }
th:nth-child(11), td:nth-child(11) { width: 55px; }
th:nth-child(12), td:nth-child(11) { width: 55px; }
th:nth-child(13), td:nth-child(11) { width: 90px; }
th:nth-child(14), td:nth-child(11) { width: 90px; }
th:nth-child(15), td:nth-child(11) { width: 55px; }

.pagination-container {
    position: absolute; 
    bottom: 3px; 
    left: -20px; 
    width: calc(100% - 60px); 
    padding: 15px 0; 
    z-index: 1000; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center; 
    align-items: center;
}

.modal-content {
    background-color: #333;
    color: white;
    padding: 20px 10px; 
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px; 
    width: 80%; 
}

.modal-content h2 {
    margin-top: 0;
    color: white; 
    font-weight: arial;
    font-size: 20px;
}

.modal-content label {
    display: block; 
    margin-bottom: 8px; 
    font-weight: normal; 
    color: white; 
    text-align: left; 
    width: 100%; 
    box-sizing: border-box; 
    margin-left: 4%; 
}
        
.modal-content input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    width: calc(100% - 22px);
    font-size: 14px;
    background-color: #222;
    color: white;
    box-sizing: border-box;
}

.modal-content input[type="time"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    width: calc(100% - 22px);
    font-size: 14px;
    background-color: #222;
    color: white;
    box-sizing: border-box;
}

.modal-content input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    width: calc(100% - 22px);
    font-size: 14px;
    background-color: #222;
    color: white;
    box-sizing: border-box;
}
     
.modal-content button {
    margin: 5px 10px;
    padding: 10px 16px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.modal-content .cancelar {
    background-color: rgb(150, 0, 0); 
    line-height: 2; 
    padding: 0 7px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem; 
    border-radius: 5px; 
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
        );
    box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 60%),
        inset -2px -2px 3px rgb(0 0 0 / 60%);
}
        
.modal-content .cancelar:hover {
    background-color: rgb(120, 0, 0);
}

.modal-content .cancelar:active {
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 60%),
        inset 2px 2px 3px rgb(0 0 0 / 60%);
}

.modal-content .salvar {
    background-color: rgb(5, 143, 0); 
    line-height: 2; 
    padding: 0 15.5px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem; 
    border-radius: 5px; 
    cursor: pointer;
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
        );
    box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 60%),
        inset -2px -2px 3px rgb(0 0 0 / 60%);
}

.modal-content .salvar:hover {
    background-color: rgb(4, 115, 0); 
}

.modal-content .salvar:active {
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 60%),
        inset 2px 2px 3px rgb(0 0 0 / 60%);
}

.edit-button {
    border: 0;
    color: white;
    line-height: 2; 
    padding: 0 10px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem; 
    border-radius: 5px; 
    cursor: pointer;
    background-color: rgb(100, 100, 100);
    background-image: linear-gradient(
    to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
        );
    box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 60%),
        inset -2px -2px 3px rgb(0 0 0 / 60%);
}

.edit-button:hover {
        background-color: rgb(100, 100, 100);
}

.edit-button:active {
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 60%),
        inset 2px 2px 3px rgb(0 0 0 / 60%);
}

.voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 0;
    color: white;
    line-height: 1.75; 
    padding: 0 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.95rem; 
    border-radius: 10px; 
    cursor: pointer;
    background-color: rgb(0, 138, 143);
    background-image: linear-gradient(
        to top left,
        rgb(0 0 0 / 20%),
        rgb(0 0 0 / 20%) 30%,
        rgb(0 0 0 / 0%)
        );
    box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 60%),
        inset -2px -2px 3px rgb(0 0 0 / 60%);
}

.voltar:hover {
    background-color: rgb(0, 209, 216);
}

.voltar:active {
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 60%),
        inset 2px 2px 3px rgb(0 0 0 / 60%);
}
        
.search-container {
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 10px;
}

.search-form label {
    font-size: 16px;
    color: #ffffff; 
    font-weight: bold;
    margin-right: 10px;
}

.search-form select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.9); 
    color: #ffffff;
    width: 120px; 
}

.search-form .input-container {
    position: relative; 
    width: 200px; 
}

.search-form input[type="text"] {
    padding: 8px 40px 8px 10px; 
    font-size: 14px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.9); 
    color: #ffffff; 
    width: 100%; 
}

.search-form button[type="submit"] {
    position: absolute;
    right: -45px; 
    top: 50%; 
    transform: translateY(-50%);
    background: none; 
    border: none; 
    cursor: pointer; 
}

.search-form .search-icon {
    font-size: 16px;
    color: #ffffff; 
}

.pagination {
    display: flex; 
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #444; 
    border-radius: 10px;
    color: #ddd; 
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.pagination a.active {
    background-color: #555; 
    color: #fff;
}

.pagination a.disabled {
    color: #666; 
    pointer-events: none; 
    cursor: not-allowed; 
}

.pagination a:hover {
    background-color: #555; 
}

.select-container {
    display: flex; 
    align-items: center; 
    margin-left: 83px; 
    margin-bottom: -5px; 
    margin-right: 20px; 
}

.select-container span {
    font-size: 14px; 
    color: #ddd; 
    margin-left: 10px; 
}

.select-container select {
    padding: 5px;
    font-size: 14px;
    color: #fff; 
    background-color: #444; 
    border: 1px solid #666; 
    border-radius: 10px; 
    height: 32px; 
}

.select-container select:focus {
    outline: none; 
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5); 
}

.confirmation-modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center; 
    align-items: center; 
}

.confirmation-modal-content {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 80%;
}

.confirmation-modal-content h3 {
    margin-top: 0;
}

.confirmation-modal-content p {
    margin-bottom: 20px;
}

.confirmation-modal-content input[type=text] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    width: calc(100% - 22px);
    font-size: 14px;
    background-color: #222;
    color: white;
    box-sizing: border-box;
}

.confirmation-modal-content button {
    margin: 5px 10px;
    padding: 10px 16px;
    border: none;
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.confirmation-modal-content button:hover {
    background-color: #cc0000;
}

.confirmation-modal-content button.cancel {
    background-color: #ccc;
    color: black;
}

.confirmation-modal-content button.cancel:hover {
    background-color: #999;
}

.launcher {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999; 
    background-color: #4CAF50; 
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launcher-message {
    margin: 0;
}

.launcher-show {
    transform: translateY(0);
}

.hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.datepicker {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}

.flatpickr-calendar {
    background-color: rgba(51, 51, 51, 0.8) !important; 
    color: #fff !important;
    max-height: 230px; 
    overflow: hidden; 
}

.flatpickr-input {
    background-color: rgba(34, 34, 34, 0.5); 
    color: #fff !important; 
    background-color: rgba(34, 34, 34, 0.5); 
    padding: 10px; 
    border-radius: 4px; 
    font-size: 16px; 
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
}


input[type="time"] {
    color: white; 
    background: #333; 
}

.flatpickr-time .flatpickr-hour,
.flatpickr-time .flatpickr-minute {
    background-color: transparent !important; 
    color: #fff !important; 
}

.flatpickr-time .flatpickr-time-separator {
    color: #fff !important; 
}

.input-icon {
    position: relative;
    display: inline-block;
    width: 80%;
}

.input-icon i {
    position: absolute;
    right: 25px; 
    top: 61%;
    transform: translateY(-50%);
    color: #fff; 
    pointer-events: none; 
}

.input-icon input {
    padding-right: 30px; 
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .container {
      width: 95%; 
      padding: 10px; 
    }
  
    .image-center {
      max-width: 150px;
      max-height: 100px;
      top: 350px; 
    }
  
    h2 {
      font-size: 1.2em; 
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .container {
      width: 80%; 
      padding: 15px; 
    }
  
    .image-center {
      max-width: 180px;
      max-height: 120px;
    }
  
    h2 {
      font-size: 1.5em; 
    }
  }
  
  @media (min-width: 1025px) {
    .container {
      width: 700px; 
      padding: 20px;
    }
  }