        /* Estilos gerais */
        body {
            font-family: Arial, sans-serif;
            background-color: #000;
            color: #fff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }

        .container {
            width: 100%;
            max-width: 400px;
            background-color: rgba(51, 51, 51, 0.9);
            border-radius: 4%;
            padding: 20px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
                5px 5px 20px rgba(0, 0, 0, 0.2),
                10px 10px 25px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .container h2 {
            margin-bottom: 20px;
            color: #fff;
        }

        .form-group {
            margin-bottom: 15px;
            text-align: left;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #ddd;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            background-color: #444;
            color: #fff;
            border: 1px solid #555;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 1rem;
            transition: border-color 0.3s;
        }

        .form-group input:focus {
            border-color: #66afe9;
            outline: none;
        }

        .button-container {
            margin-top: 20px;
        }

        .style {
            position: absolute;
            top: 10px;
            left: 10px;
            border: 0;
            color: white;
            line-height: 1.75; /* Ajustado para um pouco mais de altura */
            padding: 0 40px; /* Aumentado um pouco */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 0.95rem; /* Ajustado para um pouco maior */
            border-radius: 10px; /* Ajustado para um pouco maior */
            cursor: pointer;
            background-color: rgb(0, 138, 143);
            background-image: linear-gradient(
              to top left,
                rgb(0 0 0 / 20%),
                rgb(0 0 0 / 20%) 30%,
                rgb(0 0 0 / 0%));
            box-shadow:
              inset 2px 2px 3px rgb(255 255 255 / 60%),
              inset -2px -2px 3px rgb(0 0 0 / 60%);
        }
        
        .style:hover {
            background-color: rgb(0, 209, 216);
        }
        
        .style:active {
            box-shadow:
              inset -2px -2px 3px rgb(255 255 255 / 60%),
              inset 2px 2px 3px rgb(0 0 0 / 60%);
        }

        .password-wrapper {
            position: relative;
        }
        
        .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #fff; /* Branco para o olho */
        }
        
        .toggle-password i {
            font-size: 18px; /* Ajuste o tamanho conforme necessário */
        }
        
        .title {
            position: absolute;
            top: 245px; /* Ajuste conforme necessário */
            left: 50%;
            transform: translateX(-50%);
            font-size: 3em;
            font-weight: bold;
            color: #666; /* Texto preto */
            text-shadow: 
                0.6px 0.6px 0 rgba(255, 255, 255, 0.8),
                1px 1px 0 rgba(255, 255, 255, 0.7),
                1.5px 1.5px 0 rgba(255, 255, 255, 0.6),
                2px 2px 0 rgba(255, 255, 255, 0.5); /* Sombra branca suave */
            z-index: 1000; /* Garante que o título fique sobre outros elementos */
        }

        .entrar {
            border: 0;
            line-height: 2.5;
            padding: 0 70px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgb(5, 143, 0);
            background-image: linear-gradient(
              to top left,
              rgb(0 0 0 / 20%),
              rgb(0 0 0 / 20%) 30%,
              rgb(0 0 0 / 0%)
            );
            box-shadow:
              inset 2px 2px 3px rgb(255 255 255 / 60%),
              inset -2px -2px 3px rgb(0 0 0 / 60%);
          }
          
          .entrar:hover {
            background-color: rgb(0, 216, 36);
          }
          
          .entrar:active {
            box-shadow:
              inset -2px -2px 3px rgb(255 255 255 / 60%),
              inset 2px 2px 3px rgb(0 0 0 / 60%);
          }